
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Dashboard</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a >Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </div>
    </div>
  </div>
</div>



<div class="container-fluid">

  <div class="row">
    <div class="col-lg-6 col-6">

      <div class="small-box bg-info">
        <div class="inner">
          <h3>{{ guests.length }}</h3>
          <p>Data Tamu</p>
        </div>
        <div class="icon">
          <i class="nav-icon fas fa-solid fa-users"></i>
        </div>

      </div>
    </div>

    <div class="col-lg-6 col-6">

      <div class="small-box bg-lightblue">
        <div class="inner">
          <h3>{{ donors.length }}</h3>
          <p>Data Donatur</p>
        </div>
        <div class="icon">
          <i class="nav-icon fas fa-solid fa-users"></i>
        </div>

      </div>
    </div>

    <div class="col-lg-4 col-6">

      <div class="small-box bg-success">
        <div class="inner">
          <h3>Rp {{ totalCashAmountToday | number: '1.0-0' }}</h3>
          <p>Donasi Cash Hari Ini</p>
        </div>
        <div class="icon">
          <i class="nav-icon fas fa-solid fa-money-bill"></i>
        </div>

      </div>
    </div>


    <div class="col-lg-4 col-6">

      <div class="small-box bg-success">
        <div class="inner">
          <h3>Rp {{ totalCashAmountThisMonth | number: '1.0-0' }}</h3>
          <p>Donasi Cash Bulan Ini</p>
        </div>
        <div class="icon">
          <i class="nav-icon fas fa-solid fa-money-bill"></i>
        </div>

      </div>
    </div>

    <div class="col-lg-4 col-6">

      <div class="small-box bg-success">
        <div class="inner">
          <h3>Rp {{ totalCashAmountLastMonth | number: '1.0-0' }}</h3>
          <p>Donasi Cash Bulan Lalu</p>
        </div>
        <div class="icon">
          <i class="nav-icon fas fa-solid fa-money-bill"></i>
        </div>

      </div>
    </div>

    <div class="col-lg-4 col-6">

      <div class="small-box bg-secondary">
        <div class="inner">
          <h3>Rp {{ totalPundiAmountToday | number: '1.0-0' }}</h3>
          <p>Donasi Pundi FO Hari Ini</p>
        </div>
        <div class="icon">
          <i class="nav-icon fas fa-solid fa-handshake"></i>
        </div>
        <!--        <a class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>-->
      </div>
    </div>

    <div class="col-lg-4 col-6">

      <div class="small-box bg-secondary">
        <div class="inner">
          <h3>Rp {{ totalPundiAmountThisMonth | number: '1.0-0' }}</h3>
          <p>Donasi Pundi FO Bulan Ini</p>
        </div>
        <div class="icon">
          <i class="nav-icon fas fa-solid fa-handshake"></i>
        </div>

      </div>
    </div>

    <div class="col-lg-4 col-6">

      <div class="small-box bg-secondary">
        <div class="inner">
          <h3>Rp {{ totalPundiAmountLastMonth | number: '1.0-0' }}</h3>
          <p>Donasi Pundi FO Bulan Lalu</p>
        </div>
        <div class="icon">
          <i class="nav-icon fas fa-solid fa-handshake"></i>
        </div>

      </div>
    </div>




    <div class="col-lg-4 col-6">

      <div class="small-box bg-info">
        <div class="inner">
          <h3>Rp {{ totalTransferToday | number: '1.0-0' }}</h3>
          <p>Donasi Transfer Hari Ini</p>
        </div>
        <div class="icon">
          <i class="nav-icon fas fa-solid fa-fax"></i>
        </div>

      </div>
    </div>

    <div class="col-lg-4 col-6">

      <div class="small-box bg-info">
        <div class="inner">
          <h3>Rp {{ totalTransferThisMonth | number: '1.0-0' }}</h3>
          <p>Donasi Transfer Bulan Ini</p>
        </div>
        <div class="icon">
          <i class="nav-icon fas fa-solid fa-fax"></i>
        </div>

      </div>
    </div>

    <div class="col-lg-4 col-6">

      <div class="small-box bg-info">
        <div class="inner">
          <h3>Rp {{ totalTransferLastMonth | number: '1.0-0' }}</h3>
          <p>Donasi Transfer Bulan Lalu</p>
        </div>
        <div class="icon">
          <i class="nav-icon fas fa-solid fa-fax"></i>
        </div>

      </div>
    </div>

    <div class="col-lg-6 col-6">

      <div class="small-box bg-warning">
        <div class="inner">
          <h3 style="color: white">Rp {{ totalEventComvensationThisMonth | number: '1.0-0' }}</h3>
          <p style="color: white">Pengeluaran Santunan Acara Bulan Ini</p>
        </div>
        <div class="icon">
          <i class="nav-icon fas fa-solid fa-pen-square"></i>
        </div>

      </div>
    </div>

    <div class="col-lg-6 col-6">

      <div class="small-box bg-warning">
        <div class="inner">
          <h3 style="color: white">Rp {{ totalEventComvensationLastMonth | number: '1.0-0' }}</h3>
          <p style="color: white">Pengeluaran Santunan Acara Bulan Lalu</p>
        </div>
        <div class="icon">
          <i class="nav-icon fas fa-solid fa-pen-square"></i>
        </div>

      </div>
    </div>

    <div class="col-lg-6 col-6">

      <div class="small-box bg-primary">
        <div class="inner">
          <h3>Rp {{ totalCashDepositThisMonth | number: '1.0-0' }}</h3>
          <p>Pengeluaran Setor Tunai Bulan Ini</p>
        </div>
        <div class="icon">
          <i class="nav-icon fas fa-solid fa-money-check-alt"></i>
        </div>

      </div>
    </div>

    <div class="col-lg-6 col-6">

      <div class="small-box bg-primary">
        <div class="inner">
          <h3>Rp {{ totalCashDepositLastMonth | number: '1.0-0' }}</h3>
          <p>Pengeluaran Setor Tunai Bulan Lalu</p>
        </div>
        <div class="icon">
          <i class="nav-icon fas fa-solid fa-money-check-alt"></i>
        </div>

      </div>
    </div>



  </div>







  <div class="row">

    <!--    <section class="col-lg-7 connectedSortable">-->

    <!--      <div class="card">-->
    <!--        <div class="card-header">-->
    <!--          <h3 class="card-title">-->
    <!--            <i class="fas fa-chart-pie mr-1"></i>-->
    <!--            Sales-->
    <!--          </h3>-->
    <!--          <div class="card-tools">-->
    <!--            <ul class="nav nav-pills ml-auto">-->
    <!--              <li class="nav-item">-->
    <!--                <a class="nav-link active" href="#revenue-chart" data-toggle="tab">Area</a>-->
    <!--              </li>-->
    <!--              <li class="nav-item">-->
    <!--                <a class="nav-link" href="#sales-chart" data-toggle="tab">Donut</a>-->
    <!--              </li>-->
    <!--            </ul>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="card-body">-->
    <!--          <div class="tab-content p-0">-->

    <!--            <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 300px;">-->
    <!--              <canvas id="revenue-chart-canvas" height="300" style="height: 300px;"></canvas>-->
    <!--            </div>-->
    <!--            <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;">-->
    <!--              <canvas id="sales-chart-canvas" height="300" style="height: 300px;"></canvas>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->







    <!--    </section>-->


    <!--    <section class="col-lg-5 connectedSortable">-->

    <!--      <div class="card bg-gradient-primary">-->
    <!--        <div class="card-header border-0">-->
    <!--          <h3 class="card-title">-->
    <!--            <i class="fas fa-map-marker-alt mr-1"></i>-->
    <!--            Visitors-->
    <!--          </h3>-->

    <!--          <div class="card-tools">-->
    <!--            <button type="button" class="btn btn-primary btn-sm daterange" title="Date range">-->
    <!--              <i class="far fa-calendar-alt"></i>-->
    <!--            </button>-->
    <!--            <button type="button" class="btn btn-primary btn-sm" data-card-widget="collapse" title="Collapse">-->
    <!--              <i class="fas fa-minus"></i>-->
    <!--            </button>-->
    <!--          </div>-->

    <!--        </div>-->
    <!--        <div class="card-body">-->
    <!--          <div id="world-map" style="height: 250px; width: 100%;"></div>-->
    <!--        </div>-->

    <!--        <div class="card-footer bg-transparent">-->
    <!--          <div class="row">-->
    <!--            <div class="col-4 text-center">-->
    <!--              <div id="sparkline-1"></div>-->
    <!--              <div class="text-white">Visitors</div>-->
    <!--            </div>-->

    <!--            <div class="col-4 text-center">-->
    <!--              <div id="sparkline-2"></div>-->
    <!--              <div class="text-white">Online</div>-->
    <!--            </div>-->

    <!--            <div class="col-4 text-center">-->
    <!--              <div id="sparkline-3"></div>-->
    <!--              <div class="text-white">Sales</div>-->
    <!--            </div>-->

    <!--          </div>-->

    <!--        </div>-->
    <!--      </div>-->



    <!--      <div class="card bg-gradient-success">-->
    <!--        <div class="card-header border-0">-->
    <!--          <h3 class="card-title">-->
    <!--            <i class="far fa-calendar-alt"></i>-->
    <!--            Calendar-->
    <!--          </h3>-->

    <!--          <div class="card-tools">-->

    <!--            <div class="btn-group">-->
    <!--              <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" data-offset="-52">-->
    <!--                <i class="fas fa-bars"></i>-->
    <!--              </button>-->
    <!--              <div class="dropdown-menu" role="menu">-->
    <!--                <a href="#" class="dropdown-item">Add new event</a>-->
    <!--                <a href="#" class="dropdown-item">Clear events</a>-->
    <!--                <div class="dropdown-divider"></div>-->
    <!--                <a href="#" class="dropdown-item">View calendar</a>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--            <button type="button" class="btn btn-success btn-sm" data-card-widget="collapse">-->
    <!--              <i class="fas fa-minus"></i>-->
    <!--            </button>-->
    <!--            <button type="button" class="btn btn-success btn-sm" data-card-widget="remove">-->
    <!--              <i class="fas fa-times"></i>-->
    <!--            </button>-->
    <!--          </div>-->

    <!--        </div>-->

    <!--        <div class="card-body pt-0">-->

    <!--          <div id="calendar" style="width: 100%"></div>-->
    <!--        </div>-->

    <!--      </div>-->

    <!--    </section>-->

  </div>

</div>
