<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Donasi Non Tunai</h1>
      </div>
      <div class="alert alert-success" *ngIf="alertMessage">
        {{ alertMessage }}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
          <button *ngIf="userRole === 'FRONT_OFFICE'" (click)="openAddModal(addContent)" class="btn btn-primary btn-sm m-1">
            <i class="fas fa-plus"></i>
            Tambah Data
          </button>
          <form (ngSubmit)="onSearch(search.value)">
            <div class="input-group">
              <input #search type="text" class="form-control form-control-sm" placeholder="Search">
              <div class="input-group-append">
                <button type="submit" class="btn btn-primary btn-sm">
                  <span class="fas fa-search"></span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="card-body table-responsive p-0">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>No</th>
            <th>Tanggal</th>
            <th>Nama Donatur</th>
            <th>No Kuitansi</th>
            <th>Akun</th>
            <th>Barang Diterima</th>
            <th>Foto Kuitansi</th>
            <th>Keterangan</th>
            <th *ngIf="userRole === 'FRONT_OFFICE' || userRole === 'ADMIN_PENERIMAAN'">
              Manajemen
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let d of cashlessDonations | slice: (currentPage - 1) * pageSize : currentPage * pageSize; let i = index">
            <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
            <td>{{ d.date | date: 'dd/MM/yyyy' }}</td>
            <td>{{ d.donor.name }}</td>
            <td>{{ d.receiptNumber }}</td>
            <td>{{ d.contract.replaceAll('_', ' ') }}</td>
            <td>
              <div *ngFor="let i of d.items">
                - {{ i.replaceAll('_', ' ') }}
              </div>
            <td>
              <button (click)="openViewImage(openImage, d)" class="btn btn-info btn-sm">
                <i class="nav-icon fas fa-copy"></i>
                Lihat Foto
              </button>
            </td>
            <td>{{ d.otherInfo }}</td>
            <td>
              <button (click)="openUpdateModal(updateContent, d)" class="btn btn-warning btn-sm" title="Ubah"
                      *ngIf="userRole === 'FRONT_OFFICE' || userRole === 'ADMIN_PENERIMAAN'">
                <i class="fas fa-pen"></i>
              </button>
              <button (click)="openDeleteModal(deleteContent, d)" class="btn btn-danger btn-sm ml-1" title="Hapus"
                      *ngIf="userRole === 'FRONT_OFFICE'">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="mt-3 ms-3">
        <ngb-pagination
          [(page)]="currentPage"
          [pageSize]="pageSize"
          [collectionSize]="cashlessDonations.length">
        </ngb-pagination>
      </div>
    </div>

  </div>
</div>

<ng-template #addContent let-modal>
  <div class="modal-header">
    <h1 class="modal-title fs-5">Tambah Data Donasi Non Tunai</h1>
    <button type="button" (click)="modal.close()" class="btn-close" aria-label="Close"></button>
  </div>
  <form #addForm="ngForm" (ngSubmit)="onAddCashlessDonation(addForm)">
    <div class="modal-body">
      <div class="form-group">
        <label>Nama Donatur</label>
        <select ngModel name="donorId" class="custom-select" id="addDonor" required>
          <option value="">-- Pilih Donatur --</option>
          <option *ngFor="let donor of donors" [value]="donor.id">{{ donor.name }}</option>
        </select>
        <div *ngIf="errors?.donorId" class="is-invalid text-danger">{{ errors.donorId }}</div>
      </div>
      <div class="form-group">
        <label>Tanggal</label>
        <input type="date" ngModel name="date" class="form-control" autocomplete="off" required>
        <div *ngIf="errors?.date" class="is-invalid text-danger">{{ errors.date }}</div>
      </div>
<!--      <div class="form-group">-->
<!--        <label>No Kuitansi</label>-->
<!--        <input type="text" ngModel name="receiptNumber" class="form-control" autocomplete="off" required>-->
<!--      </div>-->
      <div class="form-group">
        <label>Akun</label>
        <select ngModel name="contract" class="custom-select" required>
          <option value="">-- Pilih Akun --</option>
          <option value="ZAKAT_NON_TUNAI">ZAKAT NON TUNAI</option>
          <option value="ISHO_NON_TUNAI">ISHO NON TUNAI</option>
          <option value="DSKL_NON_TUNAI">DSKL NON TUNAI</option>
        </select>
        <div *ngIf="errors?.contract" class="is-invalid text-danger">{{ errors.contract }}</div>
      </div>

      <div class="form-group">
        <label>Barang Diterima</label>
        <select multiple [(ngModel)]="selectedItems" name="items" class="custom-select" required>
          <option value="">-- Pilih Barang Diterima --</option>
          <option value="BERAS_KG">BERAS KG</option>
          <option value="MIE_PCS">MIE PCS</option>
          <option value="TERIGU_KG">TERIGU KG</option>
          <option value="MINYAK_GORENG_LITER">MINYAK GORENG LITER</option>
          <option value="GULA_KG">GULA KG</option>
          <option value="TEH_ISI_25_ATAU_30">TEH ISI 25 ATAU 30</option>
          <option value="TEH_ISI_50">TEH ISI 50</option>
          <option value="TEH_ISI_100">TEH ISI 100</option>
          <option value="SUSU_KECIL">SUSU KECIL</option>
          <option value="SUSU_BESAR">SUSU BESAR</option>
          <option value="SARDEN_KECIL">SARDEN KECIL</option>
          <option value="SARDEN_BEASAR">SARDEN BEASAR</option>
          <option value="DONASI_SELAIN_13">DONASI SELAIN 13</option>
          <option value="PERALATAN">PERALATAN</option>
          <option value="BARANG_BERHARGA">BARANG BERHARGA</option>
          <option value="KAMBING_QURBAN">KAMBING QURBAN</option>
          <option value="SAPI_QURBAN">SAPI QURBAN</option>
          <option value="KENDARAAN_RODA_2">KENDARAAN RODA 2</option>
          <option value="KENDARAAN_RODA_4">KENDARAAN RODA 4</option>
          <option value="TANAH">TANAH</option>
          <option value="BANGUNAN">BANGUNAN</option>
        </select>
        <div *ngIf="errors?.items" class="is-invalid text-danger">{{ errors.items }}</div>

        <ng-container *ngFor="let item of selectedItems">
          <div class="form-group" *ngIf="shouldDisplayInput(item)">
            <label for="{{ item }}_qty">{{ item }}</label>
            <input type="number" name="{{ item }}_qty" [(ngModel)]="quantities[item]" id="{{ item }}_qty"  class="form-control" autocomplete="off" required>
          </div>
        </ng-container>
      </div>



      <div class="form-group">
        <label>Foto Kuitansi</label>
        <input type="file" (change)="onFileSelected($event)" ngModel name="receiptPhoto" class="form-control" autocomplete="off" required>
      </div>
      <div class="form-group">
        <label>Keterangan</label>
        <textarea ngModel name="otherInfo" class="form-control" rows="3" placeholder="Masukkan keterangan..."></textarea>
      </div>
    </div>
    <div class="modal-footer">
      <button (click)="modal.close()" type="button" class="btn btn-secondary">Batal</button>
      <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Simpan</button>
    </div>
  </form>
</ng-template>

<ng-template #updateContent let-modal>
  <div class="modal-header">
    <h1 class="modal-title fs-5">Ubah Data Donasi Non Tunai</h1>
    <button type="button" (click)="modal.close()" class="btn-close" aria-label="Close"></button>
  </div>
  <form #updateForm="ngForm" (ngSubmit)="onUpdateCashlessDonation(updateForm)">
    <input type="hidden" name="id" ngModel="{{ cashlessDonation?.id }}">
    <div class="modal-body">
      <div class="form-group">
        <label>Nama Donatur</label>
        <select [ngModel]="cashlessDonation!.donor!.id" name="donorId" class="custom-select" id="updateDonor" required>
          <option *ngFor="let donor of donors" [value]="donor.id">{{ donor.name }}</option>
        </select>
        <div *ngIf="errors?.donorId" class="is-invalid text-danger">{{ errors.donorId }}</div>
      </div>
      <div class="form-group">
        <label>Tanggal</label>
        <input type="date" ngModel="{{ cashlessDonation?.date }}" name="date" class="form-control" autocomplete="off" required>
        <div *ngIf="errors?.date" class="is-invalid text-danger">{{ errors.date }}</div>
      </div>
<!--      <div class="form-group">-->
<!--        <label>No Kuitansi</label>-->
<!--        <input type="text" ngModel="{{ cashlessDonation?.receiptNumber }}" name="receiptNumber" class="form-control" autocomplete="off" required>-->
<!--      </div>-->
      <div class="form-group">
        <label>Akun</label>
        <select ngModel="{{ cashlessDonation?.contract }}" name="contract" class="custom-select" required>
          <option value="ZAKAT_NON_TUNAI">ZAKAT NON TUNAI</option>
          <option value="ISHO_NON_TUNAI">ISHO NON TUNAI</option>
          <option value="DSKL_NON_TUNAI">DSKL NON TUNAI</option>
        </select>
        <div *ngIf="errors?.contract" class="is-invalid text-danger">{{ errors.contract }}</div>
      </div>
      <div class="form-group">
        <label>Barang Diterima</label>
        <select multiple [ngModel]="cashlessDonation!.items" name="items" class="custom-select" required>
          <option value="BERAS_KG">BERAS KG</option>
          <option value="MIE_PCS">MIE PCS</option>
          <option value="TERIGU_KG">TERIGU KG</option>
          <option value="MINYAK_GORENG_LITER">MINYAK GORENG LITER</option>
          <option value="GULA_KG">GULA KG</option>
          <option value="TEH_ISI_25_ATAU_30">TEH ISI 25 ATAU 30</option>
          <option value="TEH_ISI_50">TEH ISI 50</option>
          <option value="TEH_ISI_100">TEH ISI 100</option>
          <option value="SUSU_KECIL">SUSU KECIL</option>
          <option value="SUSU_BESAR">SUSU BESAR</option>
          <option value="SARDEN_KECIL">SARDEN KECIL</option>
          <option value="SARDEN_BEASAR">SARDEN BEASAR</option>
          <option value="DONASI_SELAIN_13">DONASI SELAIN 13</option>
          <option value="PERALATAN">PERALATAN</option>
          <option value="BARANG_BERHARGA">BARANG BERHARGA</option>
          <option value="KAMBING_QURBAN">KAMBING QURBAN</option>
          <option value="SAPI_QURBAN">SAPI QURBAN</option>
          <option value="KENDARAAN_RODA_2">KENDARAAN RODA 2</option>
          <option value="KENDARAAN_RODA_4">KENDARAAN RODA 4</option>
          <option value="TANAH">TANAH</option>
          <option value="BANGUNAN">BANGUNAN</option>
        </select>
        <div *ngIf="errors?.items" class="is-invalid text-danger">{{ errors.items }}</div>
      </div>
      <div class="form-group">
        <label>Foto Kuitansi</label>
        <input type="file" ngModel (change)="onFileSelected($event)" name="receiptPhoto" class="form-control" autocomplete="off" required>
        <img class="mt-1" [src]="cashlessDonation?.receiptPhoto" width="100" alt="Foto Kuitansi">
      </div>
      <div class="form-group">
        <label>Keterangan</label>
        <textarea ngModel="{{ cashlessDonation?.otherInfo }}" name="otherInfo" class="form-control" rows="3" placeholder="Masukkan keterangan..."></textarea>
      </div>
    </div>
    <div class="modal-footer">
      <button (click)="modal.close()" type="button" class="btn btn-secondary">Batal</button>
      <button [disabled]="updateForm.invalid" type="submit" class="btn btn-primary">Simpan</button>
    </div>
  </form>
</ng-template>

<ng-template #deleteContent let-modal>
  <div class="modal-header">
    <h1 class="modal-title fs-5">Konfirmasi Hapus</h1>
    <button type="button" (click)="modal.close()" class="btn-close" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    Anda yakin ingin menghapus data?
    <!--    <span class="badge rounded-pill text-bg-success">-->
    <!--      {{ cashlessDonation?.contract }}-->
    <!--    </span><br><br>-->
  </div>
  <div class="modal-footer">
    <button (click)="modal.close()" type="button" class="btn btn-secondary">Batal</button>
    <button (click)="onDeleteCashlessDonation(cashlessDonation!.id)" type="button" class="btn btn-danger" id="delete">
      Hapus
    </button>
  </div>
</ng-template>

<ng-template #openImage let-modal>
  <div class="modal-header">
    <h1 class="modal-title fs-5">Foto Kuitansi</h1>
    <button type="button" (click)="modal.close()" class="btn-close" aria-label="Close"></button>
  </div>
  <div class="modal-body text-center">
    <img [src]="url" width="100%" alt="Foto Kuitansi">
  </div>
</ng-template>
