<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>404 Error Page</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a style="color: dodgerblue">Home</a></li>
          <li class="breadcrumb-item active">404 Error Page</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="error-page">
    <h2 class="headline text-warning"> 404</h2>
    <div class="error-content">
      <h3><i class="fas fa-exclamation-triangle text-warning"></i> Ups! Halaman tidak ditemukan.</h3>
      <p>
        Kami tidak dapat menemukan halaman yang Anda cari.
        Sementara itu, Anda mungkin kembali ke halaman <a [routerLink]="userRole === 'ADMIN_PENERIMAAN' ? '/dashboard-admin-penerimaan' :
                  userRole === 'FRONT_OFFICE' ? '/dashboard-front-office' :
                  userRole === 'MANAGER_FUNDRAISING' ? '/dashboard-manager-fundraising' :
                  userRole === 'TIM_JEMPUT_DONASI' ? '/dashboard-tim-jemput-donasi' :
                  userRole === 'PETUGAS_PUNDI' ? '/dashboard-petugas-pundi' :
                  userRole === 'MARKETING_KOMUNIKASI' ? '/dashboard-marketing-komunikasi' : ''"> Dashboard
      </a>
      </p>
    </div>
  </div>
</section>
